<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation='http://plugin.powerschool.pearson.com plugin.xsd'
        name="Goal View Roster"
        version="0.0.1"
        description="Create PowerQueries for Automated Roster Export">

	<oauth></oauth>
	
	<access_request>
    <field table="STUDENTS" field="ETHNICITY" access="ViewOnly" />
		<field table="STUDENTS" field="STUDENT_NUMBER" access="ViewOnly" />
		<field table="STUDENTS" field="GRADE_LEVEL" access="ViewOnly" />
		<field table="STUDENTS" field="SCHOOLID" access="ViewOnly" />
		<field table="STUDENTS" field="FIRST_NAME" access="ViewOnly" />
		<field table="STUDENTS" field="LAST_NAME" access="ViewOnly" />
		<field table="STUDENTS" field="MIDDLE_NAME" access="ViewOnly" />
    <field table="STUDENTS" field="GENDER" access="ViewOnly" />
    <field table="STUDENTS" field="DOB" access="ViewOnly" />
    <field table="STUDENTS" field="EXITDATE" access="ViewOnly" />
    <field table="STUDENTS" field="ENTRYDATE" access="ViewOnly" />
    <field table="STUDENTS" field="ENTRYCODE" access="ViewOnly" />
    <field table="S_AK_STU_X" field="FTE" access="ViewOnly" />
    <field table="S_AK_STU_X" field="ECON" access="ViewOnly" />
    <field table="S_AK_STU_X" field="SECTION504" access="ViewOnly" />
    <field table="S_AK_STU_X" field="MIGRANT" access="ViewOnly" />
    <field table="S_AK_STU_X" field="LEP" access="ViewOnly" />
    <field table="S_AK_STU_X" field="DISABILITY_CODE" access="ViewOnly" />
	</access_request>
	
    <publisher name="Paul Logan">
        <contact email="plogan01@kibsd.org" />
    </publisher>

</plugin>